<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Insert below the CDN link to Vue-->
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Vue JS Demonstration Discussion</title>
</head>
<body>
    <!-- Create a div tag eoth "app" ID-->
    <div id="app">
        <p>{{ title }} - {{ author }} - {{ age }}</p> 
        <!-- Events on Vue using v-on-->
        <button v-on:click="age++">Get Older</button>
        <button v-on:click="age--">Get Younger</button>
        <button @click="title = 'The title has changed.'">Change Title</button>
    </div>
    <script src="scripts/app.js"></script>

    <!-- Two-way data binding -->
    <div id="two-way-binding"> 
        <p>{{ message }}</p> 
        <input v-model="message" />
    </div>

    <!-- link to twoway.js -->
    <script src="scripts/two-way.js"></script>

    <!-- using v-if -->
    <div id="conditional-rendering">
        <span v-if="seen">Now you see me</span> 
    </div>

    <!-- link to conditionalif.js --> 
    <script src="/scripts/condtionalif.js"></script>

    <!-- this is hooked up to a method in the books.js --> 
    <div id="books">
        <div v-if="showBooks">
    <p>{{ btitle }} {{ bauthor }} {{ year }}</p>
    </div>

    <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
        </button>
    </div>

    <!-- link to books.js --> 
    <script src="scripts/books.js"></script>

    <h1 v-show="ok">Hello!</h1>
    <!-- using v-for directive --> 
    <div id="list-rendering">
        <ol>
            <li v-for="todo in todos">
                {{todo.text }}
            </li> 
        </ol> 
    </div>

    <!-- link to listfor.js -->
    <script src="scripts/listfor.js"></script>
</body>
</html>
