<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Welcome to <%= title %>!</h1>
  <h2>Resume</h2>
  <h2>Information Technology Student</h2>
  
  <h3>Personal Information</h3>
  <hr size="1" noshade><br>
  <p><b>Name</b>: Daryll Medina</p>
  <p><b>Age</b>: 20</p>
  <p><b>Height</b>: 5'7 feet</p>
  <p><b>Weight</b>: 75kg</p>
  <p><b>Citizenship</b>: Filipino</p>
  <p><b>Religion</b>: Catholic</p>
  <br><hr size="5" noshade><br>

  <h3>Educational Background</h3>
  <hr size="1" noshade><br>
  <p><b>Tertiary</b>: Bachelor of Science in Information Technology<br> Holy Angel University</p>
  <p><b>Secondary</b>: Senior Highschool and Junior Highschool<br> Holy Angel University</p>
  <p><b>Primary</b>: Elementary School<br> St. Ann Colleges</p>
  <br><hr size="5" noshade><br>

  <h3>Training/Certification and Honors</h3>
  <hr size="1" noshade><br>
  <p><b>Loyalty Award</b>: St. Ann Colleges</p>
  <p><b>Honor Student</b>: Grade 12</p>

</body>
</html>